body {
  /* https://www.ferysu.com/que-fuente-tipografica-utilizar-mi-tesis-doctoral/ */
  font-family: "Times New Roman", Times, serif;
  background-color: #1e1e1e;
  color: #cbc4b9;
}

dt {
  color: #d59c25;
}

dd {
  color: #add8e6;
}

.title {
  color: #4ebcfb;
}

h1 {
  font-size: 1.25rem;
}

h2 {
  font-size: 1.125rem;
}

ul {
  margin-left: 2rem;
  list-style-type: disc;
}

ol {
  margin-left: 2rem; 
  list-style-type: decimal;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}
